<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,initial-scale=1.0">
	<link rel="stylesheet" href="/CSS/style.css"/>
	
	<title>Student Form</title>
</head>

<body>
	
	<h2>Student Data</h2>
	
	<label>Student Name: <span th:text="${student.firstName}+' '+${student.lastName}"/></label>
	<br><br>
	<label>Student FreePasses: <span th:text="${student.freePasses}"/></label>
	<br><br>
	<label>Student PostalCode: <span th:text="${student.postalCode}"/></label>
	<br><br>
	<label>Student Country: <span th:text="${student.country}"/></label>
	<br><br>
	<label>Student Language: <span th:text="${student.language}"/></label>
	<br><br>
	<label>Student Subjects: <span th:text="${student.subjects}"/></label>
	
	
	
	
	
	
</body>

</html>